@model LichSuBaoHangViewModel

@{
    ViewBag.Title = "Tháo bao hàng";
}

@section Vendors_CSS{
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/jquery.dataTables.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/plugins/DataTables/css/dataTables.bootstrap4.min.css")" type="text/css">
}

@section Custom_CSS{
    <link href="@Url.Content("~/css/customize_third_party/customiseDatatable.css")" rel="stylesheet" />
}

@section Vendors_Scripts{
    <script src="@Url.Content("~/plugins/DataTables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/plugins/DataTables/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/js/customiseFlatpickr.js")"></script>
}
@section Custom_Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/customize_third_party/customiseDatatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Manipulation/ThaoBaoHang/Edit.js")"></script>
}

@await Html.PartialAsync("_PartialToolbar")

<script>
    var user = {
        userId: '@Model.CurrentUserRole.Id',
        userName: '@User.Identity.Name',
        roles: {
            isAllowEdit: @if (Model.CurrentUserRole.IsAllowEdit == true) {<text>true</text>} else {<text>false</text>},
            isAllowDelete: @if (Model.CurrentUserRole.IsAllowDelete == true) {<text>true</text>} else {<text>false</text>}
        }
    };

	@if (Model.LichSuBaoHang != null)
    {
        <text>
                var editingData = {
                    id: '@Model.LichSuBaoHang.Id'
                };
        </text>
    }
	else
    {
        <text>
                editingData = null;
        </text>
    }

    $(document).ready(function () {
        EditBaoHang.init();
    });

</script>
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_form_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Careers - Apply-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-17">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-lg-row mb-17">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-0 me-lg-20">
                        <!--begin::Form-->
                        <form action="#" class="form mb-15" id="kt_edit_form">
                            <!--begin::Title-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label required fw-bold fs-6">@Html.Raw("Mã seal bao")</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    <input type="tel" id="filterByMaSealBao" name="edit_form_code" class="form-control form-control-lg form-control-solid" placeholder="@Html.Raw("Mã seal bao")" data-field="Code" @if (Model.LichSuBaoHang != null) { <text> value="@Model.LichSuBaoHang.Code" </text> } />
                                </div>
                                <!--end::Col-->
                            </div>
                            
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <a asp-controller="ThaoBaoHang" asp-action="Index" class="btn btn-light me-3">@Html.Raw("Trở về")</a>
                                @if (Model.CurrentUserRole.IsAllowEdit)
                                {
                                    <text>
                                        <!--begin::Button-->
                                        <!--end::Button-->
                                        <!--begin::Submit-->
                                        <button type="button" class="btn btn-primary" id="kt_form_edit_submit">
                                            <!--begin::Indicator-->
                                            <span class="indicator-label" id="kt_form_edit_submit_text">@Html.Raw("Tháo bao")</span>
                                            <span class="indicator-progress">
                                                @Html.Raw("Đang tháo bao...")
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                            <!--end::Indicator-->
                                        </button>
                                        <!--end::Button-->
                                    </text>
                                }

                            </div>
                            <div class="separator mb-8"></div>
                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#edit" aria-expanded="true" aria-controls="edit">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">@Html.Raw("Đơn hàng trong bao")</h3>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                                <!--begin::Post-->
                                <div class="post d-flex flex-column-fluid" id="kt_post">
                                    <!--begin::Container-->
                                    <div id="kt_content_container" class="container">
                                        <div class="card">
                                            <!--begin::Card header-->
                                            <div class="card-header border-0 pt-6">
                                                <!--begin::Card title-->
                                                <div class="card-title">
                                                    <!--begin::Search-->
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
                                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                        <input type="text" data-kt-customer-table-filter="search" id="dtTableSearch" class="form-control form-control-solid w-250px ps-15" placeholder="Tìm kiếm">
                                                        <!--begin::Input-->
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Search-->
                                                </div>
                                                <!--begin::Card title-->
                                                <!--begin::Card toolbar-->
                                                <div class="card-toolbar">

                                                    <div class="justify-content-end align-items-center showSelected" data-kt-user-table-toolbar="selected" style="display:none !important;">
                                                        <button type="button" class="btn"> <span class="me-2" id="selected_count">10</span>Selected</button>
                                                        <button type="button" class="btn btn-danger" id="btnDelete" data-kt-user-table-select="delete_selected">Delete Selected</button>
                                                    </div>

                                                    
                                                    <!--begin::Menu-->
                                                    <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary showNotSelected" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                                                        <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
                                                        <span class="svg-icon svg-icon-2">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
                                                                    <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                                                    <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                                                    <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->
                                                    </button>
                                                    <!--begin::Menu 2-->
                                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
                                                        
                                                        @if (Model.CurrentUserRole.IsAllowDelete)
                                                        {
                                                            <text>
                                                                <!--begin::Menu item-->
                                                                <div class="menu-item px-3">
                                                                    <a href="#" class="menu-link px-3" id="btnDelete">@Html.Raw("Xóa")</a>
                                                                </div>
                                                                <!--end::Menu item-->
                                                            </text>
                                                        }
                                                        <!--begin::Menu item-->
                                                        <div class="menu-item px-3">
                                                            <a href="#" class="menu-link px-3" name="btnRefreshData">Refresh</a>
                                                        </div>
                                                        <!--end::Menu item-->

                                                    </div>
                                                    <!--end::Menu 2-->
                                                    <!--end::Menu-->
                                                </div>
                                                <!--end::Card toolbar-->
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body pt-0">
                                                <!--begin::Table-->
                                                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                    <div class="table-responsive">
                                                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="dtTable" role="grid"></table>
                                                    </div>
                                                </div>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                    </div>
                                    <!--end::Container-->
                                </div>
                                <!--end::Post-->
                            </div>
                            <!--end::Separator-->

                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Careers - Apply-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
